<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add product</title>
</head>
<body>
    <div class="form">
        <form action="" method="post">
            <label for="product_id">Product ID</label><br>
            <input type="text" name="product_id"><br>
            <label for="product_name">Product Name</label><br>
            <input type="text" name="product_name"><br>
        </form>
    </div>
</body>
</html>