<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        *{
            padding: 0px;
            margin: 0px;
        }
    </style>

</head>
<body>
    <h4>HOME PAGE</h4>
    <h4>{{request.session.name}}</h4>
    <h4>{{request.session.email}}</h4>
    <h4>{{request.session.age}}</h4>
    <h4>{{request.session.roll_number}}</h4>
    <h4>{{request.session.department_id}}</h4>
    <h4>{{request.session.department_name}}</h4>
    <a href="{% url 'logout' %}"><button>logout</button></a>

   </div>
   <hr>
</body>
</html>